---
import SunIcon from '@/components/icons/SunIcon'
import MoonIcon from '@/components/icons/MoonIcon'
---

<script>
	class themeToggle extends HTMLElement {
		constructor() {
			super()
			const button = this.querySelector('button') as HTMLButtonElement

			if (button) {
				button.addEventListener('click', (e) => {
					if (e.currentTarget instanceof HTMLButtonElement) {
						let isPressed = e.currentTarget.getAttribute('aria-pressed') === 'true'
						let themeChangeEvent = new CustomEvent('theme-change', {
							detail: {
								theme: isPressed ? 'light' : 'dark'
							}
						})
						// dispatch event -> ThemeProvider.astro
						document.dispatchEvent(themeChangeEvent)
						button.setAttribute('aria-pressed', String(!isPressed))
					}
				})
			}
		}
	}

	if ('customElements' in window) {
		customElements.define('theme-toggle', themeToggle)
	}
</script>

<theme-toggle class='inline-flex'>
	<button
		id='toggle-theme'
		class='group relative flex items-center justify-center p-1.5 -m-1.5 rounded-sm text-stone-600 dark:text-stone-300 hover:text-stone-900 dark:hover:text-white transition-colors focus:outline-none focus-visible:ring-2 focus-visible:ring-stone-900 dark:focus-visible:ring-white'
		aria-label='Toggle Theme'
	>
		<span class='opacity-0 group-aria-pressed:opacity-100 transition-opacity duration-200'>
			<SunIcon />
		</span>

		<span
			class='absolute opacity-0 group-aria-[pressed=false]:opacity-100 transition-opacity duration-200'
		>
			<MoonIcon />
		</span>
	</button>
</theme-toggle>

<script is:inline>
	const button = document.getElementById('toggle-theme')

	function setButtonPresssed() {
		const bodyThemeIsDark = document.documentElement.classList.contains('dark')
		button.setAttribute('aria-pressed', String(bodyThemeIsDark))
	}
	setButtonPresssed()
</script>
